div.container div.titulo h1 {
    text-align: left;
    font-size: 3em;
    font-family:  Deutsch Gothic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fondo{
    background-color: #fdfccf;
}
.parrafo{
    text-align: left; 
    font-size: 18px;
    color: black;
}

p.acercademi {
    font-size: 1.5em;
}

body{
    background-color: lightgoldenrodyellow !important;
    font-family: 'VarelaRound-Regular';
}

p.origen {
    font-size: 1.2em;
}

p.trama {
    font-size: 1.1em;
}

